<!DOCTYPE html>
<html lang="kr">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="<%= href %>">
  <script type="application/javascript" src="<%= src %>"></script>
